*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Open Sans", sans-serif;
}

body{
  background-color: #f5f4f0;
}

.container{
  width: 1120px;
  height: 129px;
  margin: 88px auto;
}

.container hr{
  width: 1120px;
  height: 0.2px;
  background-color: #d9d9d9;
  border: none;
  margin-bottom: 64px;
}
h4{
  color: #E95E10;
  font-size: 16px;
}

h1{
  color: #1b1b1b;
  margin-top: 8px;
  margin-bottom: 40px;
  font-size: 36px;
}

#imgprincipal{
  width: 100%;
  height: 100%;
  border-radius: 28px;
  object-fit: fill;
}

#firsth4{
  margin-top: 64px;
}

#firstp{
  color: #333333;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
  object-fit: fill;
  border-radius: 28px;
}

#firsth2{
  color: #1b1b1b;
  margin-bottom: 8px;
  font-size: 28px;
}

#secondp{
  color: #333333;
  text-align: left;
  font-size: 16px;
  margin-bottom: 64px;
}

#secondimg{
  width: 100%;
  height: 100%;
  border-radius: 28px;
  object-fit: fill;
}

#secondh2{
  color: #1b1b1b;
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 28px;
}

ol li{
  font-size: 16px;
}

ul{
  list-style-type: none;
}

ul li{
  list-style-type: none;
}

ul li::before{
  content: "・";
  font-size: 15px;
  margin-left: 18px;
  margin-right: 5px;
  color: black;
}

#firstitem{
  font-size: 28px;
  font-weight: bold;
  margin-left: 40px;
}

#h5{
  font-size: 18px;
  font-weight: bold;
}

#ul{
  color: #0c51a7;
  font-size: 16px;
  font-weight: bold;
  margin-left: 28px;
  margin-bottom: 48px;
}

#thirdimg{
  width: 100%;
  height: 100%;
  border-radius: 28px;
  object-fit: fill;
}

#thirdh2{
  color: #1b1b1b;
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 28px;
}

#seconditem{
  font-size: 28px;
  font-weight: bold;
  margin-left: 40px;
}

#firsth2{
  color: #1b1b1b;
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 28px;
}

#thirditem{
  font-size: 28px;
  font-weight: bold;
  margin-left: 40px;
}

#ul3{
  color: #591b98;
  font-size: 16px;
  font-weight: bold;
  margin-left: 25px;
  letter-spacing: 0.8;
}

#ul4{
  color: #e5245e;
  font-size: 16px;
  font-weight: bold;
  margin-left: 25px;
  letter-spacing: 0.8;
}

#ul5{
  color: #e95e10;
  font-size: 16px;
  font-weight: bold;
  margin-left: 25px;
  letter-spacing: 0.8;
  margin-bottom: 40px;
}

hr#second{
  width: 1120px;
  height: 0.2px;
  background-color: #d9d9d9;
  border: none;
  margin-bottom: 40px;
}

#pfinal{
  color: #333333;
  text-align: center;
  margin-bottom: 65px;
}


  
